<header id="header-id">
  <div id="logo">
    <% if (locals.isAdmin) { %>
    <a href="/admin">RobShop</a>
    <% } else { %>
    <a href="/">RobShop</a>
    <% } %>
  </div>
  <%- include("./nav-bar") %>
  <a href="#side-menu" class="menu-button">
    <span></span>
    <span></span>
    <span></span>
  </a>
</header>
<aside id="side-menu">
  <header>
    <a href="#" class="menu-button">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </header>
  <%- include("./nav-bar") %>
</aside>
