<header id="header-id">
  <div id="logo">
    <a href="">Gestamp</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="">Cart</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
    </ul>
  </nav>
  <a href="#side-menu" class="menu-button">
    <span></span>
    <span></span>
    <span></span>
  </a>
</header>
<aside id="side-menu">
  <header>
    <a href="#" class="menu-button">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </header>
  <nav>
    <ul>
      <li>
        <a href="">Cart</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
    </ul>
  </nav>
</aside>
