<nav>
  <ul>
    <% if (!locals.isAuth) { %>
    <li>
      <a href="/signup">Sign up</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
    <% } %> <% if (locals.isAdmin) { %>
    <li>
      <a href="/admin/new">Add</a>
    </li>
    <% } %>
    <li>
      <a href="/cart"
        >Cart
        <span class="badge" id="badge-id"
          ><%= locals.cart.totalQuantity %></span
        ></a
      >
    </li>
    <% if (locals.isAdmin) { %>
    <li>
      <a href="/admin/orders">Orders</a>
    </li>
    <% } else if (locals.isAuth) { %>
    <li>
      <a href="/orders">Orders</a>
    </li>
    <% } %> <% if (locals.isAuth) { %>
    <li>
      <a href="/logout">Logout</a>
    </li>
    <% } %>
  </ul>
</nav>
