<nav>
  <ul>
    <% if (!locals.isAuth) { %>
    <li>
      <a href="/signup">Sign up</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
    <% } %> <% if (locals.isAdmin) { %>
    <li>
      <a href="/admin/new">Add</a>
    </li>
    <% } %>
    <li>
      <a href=""
        >Cart <span class="badge"><%= locals.cart.totalQuantity %></span></a
      >
    </li>
    <% if (locals.isAuth) { %>
    <li>
      <!-- <form action="/logout" method="post"> -->
      <!-- <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" /> -->
      <!-- <button>Logout</button> -->
      <!-- </form> -->
      <a href="/logout">Logout</a>
    </li>
    <% } %>
  </ul>
</nav>
