<%- include("../includes/head", { title: "Main page"}) %> 
<link rel="stylesheet" href="/styles/products.css">
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <h1>Cart page</h1>
        <section class="">
        </section>
    </main>
  </body>
</html>
