<%- include("../includes/head", { title: "Error"}) %> 
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <h1>Not authenticated</h1>
        <p>you are not logged in</p>
    </main>
  </body>
</html>
