<%- include("../includes/head", { title: "Error"}) %> 
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <h1>You are not admin</h1>
        <p>Only admin can visit this site</p>
    </main>
  </body>
</html>
