<%- include("../includes/head", { title: "Error"}) %> 
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <h1>Could not find resource</h1>
        <p>Please, try some valid resource ;)</p>
    </main>
  </body>
</html>
