<%- include("../includes/head", { title: "Error"}) %> 
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <h1>Something went wrong!</h1>
        <p>This is an error page</p>
    </main>
  </body>
</html>
