.auth {
  text-align: center;
  width: 26rem;
  margin: auto;
  padding: 0.5rem 1rem 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.auth input {
  width: 15rem;
  margin: 0.5rem;
  font: inherit;
  margin-bottom: 1rem;
  border: 1px solid var(--color-blue-700);
  border-radius: 8px;
  padding: 0.1rem 0.5rem;
}

.auth label {
  display: block;
}
