.auth {
  text-align: center;
  width: 26rem;
  margin: auto;
  padding: 0.5rem 1rem 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.auth ul {
  list-style: none;
  padding: 0;
}

.auth input {
  width: 15rem;
  margin: 0.5rem;
  font: inherit;
  margin-bottom: 1rem;
  border: 1px solid var(--color-blue-700);
  border-radius: 8px;
  padding: 0.1rem 0.5rem;
}

.auth label {
  display: block;
}

.confirm-btn {
  font: inherit;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--color-blue-700);
  background-color: var(--color-blue-700);
  color: var(--color-white-100);
  font-weight: bold;
}

.confirm-btn:hover {
  background-color: var(--color-white-100);
  color: var(--color-blue-700);
}
