* {
  box-sizing: border-box;
}

html {
  font-family: "Krub", sans-serif;

  --color-blue-700: rgb(49, 83, 153);

  --color-orange-500: rgb(255, 140, 0);

  --color-red-500: rgb(255, 0, 0);
  --color-red-100: rgb(255, 184, 184);

  --color-black-700: rgb(16, 16, 16);
  --color-black-500: rgb(29, 26, 24);

  --color-gray-500: rgb(105, 105, 105);
  --color-gray-300: rgb(114, 114, 114);
  --color-gray-100: rgb(169, 168, 168);

  --color-white-100: rgb(255, 253, 250);

  --shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

body {
  background-color: var(--color-white-100);

  /* background-color: rgb(44, 41, 38); */
  /* margin: 0 2rem; */
  color: var(--color-black-700);
}

main {
  margin-top: 7rem;
  text-align: center;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.confirm-btn {
  font: inherit;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--color-blue-700);
  background-color: var(--color-blue-700);
  color: var(--color-white-100);
  font-weight: bold;
  transition: background-color 0.5s ease-out;
}

.confirm-btn:hover,
.confirm-btn:active {
  background-color: var(--color-white-100);
  color: var(--color-blue-700);
}

.another-btn {
  color: var(--color-white-100);
  background-color: var(--color-orange-500);
  border-color: var(--color-orange-500);
}

.another-btn:hover,
.another-btn:active {
  color: var(--color-orange-500);
  background-color: var(--color-white-100);
}

.delete-btn {
  color: var(--color-red-500);
  background-color: var(--color-red-100);
  border-color: var(--color-red-500);
}

.delete-btn:hover,
.delete-btn:active {
  color: var(--color-red-100);
  background-color: var(--color-red-500);
}

.alert {
  color: var(--color-red-500);
  font-size: small;
  border-radius: 8px;
  background-color: var(--color-red-100);
  padding: 0.5rem 0;
}

#image-preview img {
  display: none;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 8px;
  margin: 0.2rem auto 1rem auto;
}

.badge {
  padding: 0.01rem 0.3rem 0.01rem 0.3rem;
  border-radius: 10px;
  background-color: var(--color-orange-500);
}
