<%- include("../includes/head", { title: "Main page"}) %> 
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <h1>Main page</h1>
        <p>Here will be all the products!</p>
    </main>
  </body>
</html>
