<%- include("../includes/head", { title: "Detail page"}) %> 
<link rel="stylesheet" href="/styles/products.css">
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <section class="detail">
            <div class="detail-img">
                <img src="/img/yaskawa.jpg" alt="Yaskawa robot">
            </div>
            <div class="detail-description">
                <h1>Yaskawa</h1>
                <h2>1999$</h2>
                <div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque officiis excepturi tenetur expedita temporibus minima similique cum dolorum quae a nulla recusandae inventore itaque, omnis corrupti quaerat nobis ab. Perferendis?</p>
                <hr>
              </div>
                <button class="confirm-btn">Add to cart</button>
            </div>
        </section>
    </main>
  </body> 
</html>
