<%- include("../includes/head", { title: "Main page"}) %> 
<link rel="stylesheet" href="/styles/products.css">
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <section class="detail">
            <div class="detail-img">
                <img src="/img/yaskawa.jpg" alt="Yaskawa robot">
            </div>
            <div class="detail-description">
                <h1>Product name</h1>
                <h2>Product price</h2>
                <p>product description</p>
                <a href="">Add to card</a>
            </div>
        </section>
    </main>
  </body>
</html>
